@import "../all.scss";

.two-col {
    padding: 0 20px;

    &.two-col-image {

        &:nth-child(even){
            
            @media (min-width: $tablet) {
                flex-direction: row-reverse;
            }
        }

        .egg {

            svg {
                max-height: 350px;
    
                @media (min-width: $tablet) {
                    max-height: 450px;
                    width: 100%;
                }
    
                .st3 {
                    fill: $orange;
                }
    
                image {
                    width: 100%;
                }
            }
        }
    }

    .col {
        margin: 0 auto 30px;
        text-align: center;
        
        @media (min-width: $tablet) {
            width: calc( 100% / 2 - 50px);
        }
    }
}